P6_Sister_1116_Exercise3_ClientForm/P6_Sister_1116_Exercise3_ClientForm/Web References/BilanganService/AngkaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Bilangan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="angka" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BilanganResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BilanganResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BilanganSoapIn">
    <wsdl:part name="parameters" element="tns:Bilangan" />
  </wsdl:message>
  <wsdl:message name="BilanganSoapOut">
    <wsdl:part name="parameters" element="tns:BilanganResponse" />
  </wsdl:message>
  <wsdl:portType name="AngkaServiceSoap">
    <wsdl:operation name="Bilangan">
      <wsdl:input message="tns:BilanganSoapIn" />
      <wsdl:output message="tns:BilanganSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AngkaServiceSoap" type="tns:AngkaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Bilangan">
      <soap:operation soapAction="http://tempuri.org/Bilangan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AngkaServiceSoap12" type="tns:AngkaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Bilangan">
      <soap12:operation soapAction="http://tempuri.org/Bilangan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AngkaService">
    <wsdl:port name="AngkaServiceSoap" binding="tns:AngkaServiceSoap">
      <soap:address location="http://localhost:49245/AngkaService.asmx" />
    </wsdl:port>
    <wsdl:port name="AngkaServiceSoap12" binding="tns:AngkaServiceSoap12">
      <soap12:address location="http://localhost:49245/AngkaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>