P6_Sister_1116_Exercise1_ClientForm/P6_Sister_1116_Exercise1_ClientForm/Web References/LayananKonversi/NilaiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="nilai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="angka" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nilaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nilaiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nilaiSoapIn">
    <wsdl:part name="parameters" element="tns:nilai" />
  </wsdl:message>
  <wsdl:message name="nilaiSoapOut">
    <wsdl:part name="parameters" element="tns:nilaiResponse" />
  </wsdl:message>
  <wsdl:portType name="NilaiServiceSoap">
    <wsdl:operation name="nilai">
      <wsdl:input message="tns:nilaiSoapIn" />
      <wsdl:output message="tns:nilaiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NilaiServiceSoap" type="tns:NilaiServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nilai">
      <soap:operation soapAction="http://tempuri.org/nilai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NilaiServiceSoap12" type="tns:NilaiServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nilai">
      <soap12:operation soapAction="http://tempuri.org/nilai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NilaiService">
    <wsdl:port name="NilaiServiceSoap" binding="tns:NilaiServiceSoap">
      <soap:address location="http://localhost:49555/NilaiService.asmx" />
    </wsdl:port>
    <wsdl:port name="NilaiServiceSoap12" binding="tns:NilaiServiceSoap12">
      <soap12:address location="http://localhost:49555/NilaiService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>