P6_Sister_1116_Exercise2_ClientForm/P6_Sister_1116_Exercise2_ClientForm/Web References/Service/WarnaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Warna">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nomor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WarnaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WarnaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WarnaSoapIn">
    <wsdl:part name="parameters" element="tns:Warna" />
  </wsdl:message>
  <wsdl:message name="WarnaSoapOut">
    <wsdl:part name="parameters" element="tns:WarnaResponse" />
  </wsdl:message>
  <wsdl:portType name="WarnaServiceSoap">
    <wsdl:operation name="Warna">
      <wsdl:input message="tns:WarnaSoapIn" />
      <wsdl:output message="tns:WarnaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WarnaServiceSoap" type="tns:WarnaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Warna">
      <soap:operation soapAction="http://tempuri.org/Warna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WarnaServiceSoap12" type="tns:WarnaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Warna">
      <soap12:operation soapAction="http://tempuri.org/Warna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WarnaService">
    <wsdl:port name="WarnaServiceSoap" binding="tns:WarnaServiceSoap">
      <soap:address location="http://localhost:50630/WarnaService.asmx" />
    </wsdl:port>
    <wsdl:port name="WarnaServiceSoap12" binding="tns:WarnaServiceSoap12">
      <soap12:address location="http://localhost:50630/WarnaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>